.center .h1 {
display: flexbox ;
width: 100%;
margin: 0 auto;
justify-content: center;
align-items: center;
padding: 20px 0;
}

.container{
    display:flex;
    width:100%;
    margin:0 auto;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input{
    width:100%;
    display:flex;
    margin:0 auto;
    justify-content: center;
    align-items: center;
}